/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
background:#020617;
padding:18px 40px;
display:flex;
justify-content:center;
align-items:center;
gap:50px;
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

/* NAV LINKS */

.nav-link{
position:relative;
color:white;
text-decoration:none;
font-weight:600;
font-size:17px;
transition:0.3s;
padding-bottom:6px;
}

/* BLUE LINE */

.nav-link::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:0%;
height:2px;
background:#3b82f6;
transition:0.3s;
}

/* HOVER */

.nav-link:hover{
color:#3b82f6;
}

.nav-link:hover::after{
width:100%;
}

/* ACTIVE PAGE */

.nav-link.active{
color:#3b82f6;
}

.nav-link.active::after{
width:100%;
}
