body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#071225;
color:white;
}

/* header */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#0b1b36;
}

header h1{
color:#3b82f6;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#3b82f6;
}


/* hero */

.hero{
text-align:center;
padding:80px 20px;
}

.hero h2{
font-size:36px;
margin-bottom:10px;
}

.hero p{
color:#bbb;
}


/* cards */

.cards-section{
text-align:center;
margin-top:40px;
}

.section-title{
font-size:28px;
margin-bottom:30px;
}

.card-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
max-width:900px;
margin:auto;
}

.gift-card{
background:#0b1b36;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
transition:0.3s;
}

.gift-card:hover{
transform:translateY(-8px);
}

.gift-card p{
color:#ccc;
}

.gift-card button{
margin-top:10px;
background:#3b82f6;
border:none;
padding:10px 20px;
border-radius:6px;
color:white;
cursor:pointer;
font-weight:bold;
}

.gift-card button:hover{
background:#2563eb;
}


/* why section */

.why-section{
margin-top:80px;
text-align:center;
}

.why-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
max-width:900px;
margin:40px auto;
}

.why-box{
background:#0b1b36;
padding:20px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}


/* footer */

footer{
margin-top:60px;
padding:20px;
text-align:center;
background:#0b1b36;
color:#aaa;
}
