body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#111827;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

header{
text-align:center;
padding:60px 20px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,250px);
gap:30px;
justify-content:center;
padding:40px;
}

.product{
background:#1f2937;
padding:25px;
border-radius:12px;
text-align:center;
transition:0.3s;
}

.product:hover{
transform:translateY(-10px);
box-shadow:0 10px 25px rgba(0,0,0,0.6);
}

.product img{
width:90px;
}

button{
background:#3b82f6;
border:none;
padding:10px 20px;
border-radius:6px;
color:white;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#2563eb;
}

footer{
text-align:center;
padding:20px;
background:#111827;
margin-top:40px;
}
